body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom, #000000, #3d101c, #770c26, #b30025, #eb1212);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p{
  font-size:17px;

}
/* Originally in App.css */

.header {
  background-image: linear-gradient(to top, #000000, #180308, #25070b, #32070a, #3f0505);
   min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(214, 214, 214);
}
.center{
  text-align: center;
}
.container {
  padding: 3%;
  border: 2px solid #ff030360;
  border-radius: 10px;
  color: rgb(175, 175, 175);
  /* margin: 1px; */
}
.centerBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  /* padding: 2%; */
  border: 2px solid #990d0d;
}
.button {
  background-color: #990d0d;
  color:rgb(218, 218, 218);
  border: 1px solid black;
  border-radius: 8px;
  /* margin-top: 3%; */
  font-size:17px;
}
.buttondark {
  background-color: #000000;
  color:rgb(219, 219, 219);
  border: 1px solid black;
  border-radius: 8px;
  /* margin-top: 3%; */
  padding:1% 35%;
  display:inline-block;
  font-size:17px;
}

.button:hover {
	background-color:hsla(0, 100%, 50%, 0.733);
}
.myButton:active {
	position:relative;
	top:1px;
}
